# Git
.git

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# VS Code settings
.vscode/

# Models 
models/
*.pth

# Output and data
output/
data/

# dotenv files
.env

# Logs
*.log

# Data files
*.csv